body {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: space-between
}

.container header {
    margin-bottom: 50px;
}

.disabled {
    display: none;
}


.main {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
}

.header-nav {
    display: flex;
    background-color: #1b4552;
    width: 100%;
    height: 130%;
    flex-direction: row;
    justify-content: space-between;
}

.main-content {
    display: flex;
    flex-direction: column;
  /*  background-color: #183e4b; */
    padding: 10px;
    width: 100%;
    height: auto;
    justify-content: center;
    text-align: center;
}

.sidebar {
    display: flex;
    padding: 10px;
    width: 30%;
    background-color: #eaeaea;
}

.agent-name {
    padding: 10px;
    margin: 10px;
}


.agent-address {
    padding: 10px;
    margin: 10px;
}

.agent-contact {
    padding: 10px;
    margin: 10px;
}



.agent-entry {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 10px;
    padding: 10px;
}


.date {
    margin: 5px;
    padding: 5px;
    display: flex;
    text-align: center;
    justify-content: center;
    box-shadow: 1px black solid;
}

.main-content div:nth-child(2n) {
    background-color: #183e4b;
}

.agent div:nth-child(2n) {
    background-color: #1b4552;
}


.agent div:nth-child(2n+1) {
    background-color: #fff;
}

.main-content div:nth-child(2n+1) {
    background-color: #8ba0a4;
}

.comming-time {
    margin: 5px;
    padding: 5px;
}


.leaving-time {
    margin: 5px;
    padding: 5px;
}


.add-btn {
    width: 30%;
    height: 50px;
    align-self: flex-end;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.add-btn button {
    color: #000;
    border-radius: 100px 100px;
}


.logo {
    padding: 10px;
    color: #d74a49;
    font-size: 2.9em;
    width: 50%;
}

button {
    background-color: #d74a49;
    color: #eaeaea;
    padding : 10px;
    margin : 5px;
    border : none;
    border-radius: 10px 10px;
}

.close-btn {
    position: relative;
    left: 90px;
}

.agent-form-container {
    witdh: 400px;
    height: 400px;
    background-color: #8ba0a4;
    align-items: center;
    justify-content: center;
    text-align: center;
}
